.leaflet-container {
  height: 100vh;
  width: 100vw;
}

.campus2023-icon {
  border-radius: 10px 10px 10px 10px;
  height: 12px;
  width: 12px;
  border: 1px solid #161616;
}

.candidate-icon {
  background-color: darkorange;
}

.candidate-selected-icon {
  background-color: darkorange;
  border: 1px solid white;
}

.club-icon {
  background-color: rebeccapurple;
}

.eligible-icon {
  background-color: deepskyblue;
}

.invalid-data-icon {
  background-color: red;
}

dd {
  margin-inline-start: 0.4em;
}

.MuiBackdrop-root {
  z-index: 9999;
}

.logo-overlay {
  z-index: 9998;
  position: absolute;
  top: 1em;
  left: 1em;
  background: transparent;
}

.marker-cluster-custom {
  background-color: #ff8c0042;
  width: 40px;
  height: 40px;
  background-clip: padding-box;
  border-radius: 20px;
}

.marker-cluster-custom div {
  background-color: darkorange;
  color: rgb(0, 0, 0);
  width: 30px !important;
  height: 30px !important;
  margin-left: 5px !important;
  margin-top: 5px !important;
  text-align: center !important;
  border-radius: 15px !important;
  font: 12px 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
}

.marker-cluster-custom span {
  line-height: 30px;
  font-weight: bold;
}
