@font-face {
  font-family: Andika New Basic;
  src: url('./assets/font/AndikaNewBasic-R.ttf');
}

@font-face {
  font-family: Ocean;
  src: url('./assets/font/ocean-six.ttf');
}
body {
  margin: 0;
  font-family: 'Andika New Basic';
}
a {
  text-decoration: 'none' !important;
}
* {
  box-sizing: border-box;
  flex: 0 0 auto;
}
a {
  text-decoration: none;
}
